<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
<div th:replace="fragments :: page-header"></div>

<h1 th:text="${title}">Default Title</h1>





<div class="container body-content">
    
    <h2>Reservations</h2>
    <p th:unless="${reservations} and ${reservations.size()}">No Reservations</p>
    <div>
        <ul>
            <li th:each="reservation : ${reservations}">
                <a th:href="@{'/reservation/view/' + ${reservation.reservationId}}" th:text="${reservation.startDate}"></a>
            </li>
            
        </ul>
    </div>
<!--    <tr th:each="reservation : ${reservations}">-->
<!--        -->
<!--&lt;!&ndash;        <td th:text="${reservation.startDate}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;        <td th:text="${reservation.endDate}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;        <td th:text="${reservation.equipment}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;        <td th:text="${reservation.grandTotal}"></td>&ndash;&gt;-->
<!--    </tr>-->

</div>

</body>
</html>